.navbar {
    overflow: hidden;
    background-color: grey;
    float: right;
    position: fixed; 
    top: 0; 
    width: 310px;
}
  
  
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar a:hover {    
    color: blue;
  }

  .navbar a:active{
    color: red;
}

  .navbar-right{
    float: right;
  }
  
  .main {
    margin: auto; 
    font: 1.1em/150% 'Segoe UI', Sans-Serif; 
    margin-top: 60px; 
    width: 800px;
    background-image: url(Bilder/bg.png);
    }

  .navbar-active{
      color: red;
  }

  .medien{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  label{
      display: block;
      cursor: pointer;
  }
  textarea{
      width: 300px;
      border: 1px solid black;
      margin-bottom: 1em;
      height: 7em;
  }
 
  